#gameBoard {
  margin: 0 auto;
}

#levels {
  width: 100%;
  margin: 0 auto;
}

#gameInfo {
  padding: 20px;
}

#gameInfoRight {
  padding-right: 4%;
  cursor: default;
}

#face {
  font-size: 2.5em;
  cursor: pointer;
}

#gameInfoLeft {
  padding-left: 4%;
  cursor: default;
}

.levelSelect {
  padding: 15px;
}

.levelType {
  padding-left: 6px;
}
